<link rel="stylesheet" href="css/about.css">
<div class="bg"></div>
<section>
  <h1>About</h1>
  <p>Abstract— COVID-19 pandemic caused by novel coronavirus is
    continuously spreading until now all over the world. The impact
    of COVID-19 has been fallen on almost all sectors of
    development. The healthcare system is going through a crisis.
    Many precautionary measures have been taken to reduce the
    spread of this disease where wearing a mask is one of them. In
    this paper, we propose a system that restrict the growth of
    COVID-19 by finding out people who are not wearing any facial
    mask in a smart city network where all the public places are
    monitored with Closed-Circuit Television (CCTV) cameras.
    While a person without a mask is detected, the corresponding
    authority is informed through the city network. A deep learning
    architecture is trained on a dataset that consists of images of
    people with and without masks collected from various sources.
    The trained architecture achieved 98.7% accuracy on
    distinguishing people with and without a facial mask for
    previously unseen test data. It is hoped that our study would be
    a useful tool to reduce the spread of this communicable disease
    for many countries in the world. :</p>

  
  <p>A new strain which has not previously been identified in
    humans is novel coronavirus (nCoV). Coronaviruses (CoV)
    are a wide group of viruses which cause illness that range from
    colds to deadly infections like Middle East Respiratory
    Syndrome (MERS) and Severe Acute Respiratory Syndrome
    (SARS) [1]. The first infected patient of coronavirus has been
    found in December 2019. From that period, COVID-19 has
    become a pandemic all over the world [2]. People all over the
    world are facing challenging situations due to this pandemic.
    Every day a large number of people are being infected and
    died. At the time of writing this paper, almost 16,207,130
    infected cases have been confirmed where 648,513 are death
    [3]. This number is increasing day by day. Fever, dry cough,
    tiredness, diarrhea, loss of taste, and smell are the major
    symptoms of coronavirus which is declared by the World
    Health Organization (WHO) [4]. Many precautionary
    measures have been taken to fight against coronavirus.
    Among them cleaning hands, maintaining a safe distance,
    wearing a mask, refraining from touching eyes, nose, and
    mouth are the main, where wearing a mask is the simplest one. </p>
  <img src="http://lorempixum.com/500/600"/>
  <p>COVID-19 is a disease that spread from human to human
    which can be controlled by ensuring proper use of a facial
    mask. The spread of COVID-19 can be limited if people
    strictly maintain social distancing and use a facial mask. Very
    sadly, people are not obeying these rules properly which is
    speeding the spread of this virus. Detecting the people not
    obeying the rules and informing the corresponding authorities
    can be a solution in reducing the spread of coronavirus. .</p>
    <img src="http://lorempixum.com/500/600/sports"/>
  <p>A face mask detection is a technique to find out whether
    someone is wearing a mask or not. It is similar to detect any
    object from a scene. Many systems have been introduced for
    object detection. Deep learning techniques are highly used in
    medical applications [5], [6]. Recently, deep learning
    architectures [7] have shown a remarkable role in object
    detection. These architectures can be incorporated in detecting
    the mask on a face. Moreover, a smart city [8] means an urban
    area that consists of many IoT sensors to collect data. These
    collected data are then used to perform different operations
    across the city. This includes monitoring traffic, utilities,
    water supply network, and many more. Recently, the growth
    of COVID-19 can be reduced by detecting the facial mask in
    a smart city network. </p>
</section>
<body>
    <script>
        $(window).scroll(function(e){
            parallax();
          });
          function parallax(){
            var scrolled = $(window).scrollTop();
            $('.bg').css('top',-(scrolled*0.2)+'px');
          }
    </script>
</body>